<div class="container">

  <div class="row">
    {% for book in  books%}

        <div class="col s4">
        <div class="card card-panel">
            <div class="card-content">
                <p style="font-size:70%">{{book.book_published_date}}</p>
                <span class="card-title">{{book.book_name}}</span>
                {{book.book_writer.all|join:" "}} </br>
                {{book.book_detail}} </br>
                {{book.book_price}} TL
            </div>
            {% if user.is_authenticated %}
                <a href="#">Add to Cart</a>
            {% endif %}
        </div>
        </div>

    {% endfor %}    

  </div>

<div>
          